// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$enable-gradients: true;

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

a {
    color:#002a80;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.dropcap {
    font-size: 4rem;
    color: #903;
    float: left;
    line-height: 60px;
    padding-right: 4px;
    padding-left: 3px;
}

img {
    max-width: 200px;
}

@include media-breakpoint-down(sm) {
    .socialmedia {
        font-size: 10px;
        font-weight: bold;
    }
    img {
        max-width: 200px;
    }
    img.member-profile-pic {
        max-width: 250px;
    }
}

@include media-breakpoint-up(sm) {
    body {
        padding-top: 3.5rem;
    }

    h2 { font-size: 14px;}
    h3 { font-size: 12px;}
    h4 { font-size: 11px;}
    p { font-size: 16px;}

    .container {
        padding:0.5em;
    }

    .association-img {
        max-width:70%;
    }

    img.member-profile-pic {
        max-width: 250px;
    }

}
@include media-breakpoint-up(md) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
    .container {
        padding:1.5rem;
    }
    h2 {
        font-size: 32px;
        font-weight: bold;
    }
    h3 { font-size: 1.5rem;}
    h4 {font-size: 1.5rem;}

    .association-img {
        max-width:30%;
    }
}

@include media-breakpoint-up(lg) {

    h1 {
        font-size: 32px;
        font-weight: bold;
    }

    .association-img {
        max-width:30%;
    }
    img {
        max-width: 80%;
    }
}
@include media-breakpoint-up(xl) { }


