APP_NAME='.env local'
APP_ENV=local
APP_KEY=base64:BRgDV+rGbzw7fzNqKQx0vKTPLbCIK+qTnzPlqqLwFMo=
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=172.31.0.3
DB_PORT=3306
DB_DATABASE=p118
DB_USERNAME=root
DB_PASSWORD=root

BROADCAST_CONNECTION=log
CACHE_STORE=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=mailgun
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

ADMIN_EMAIL=superwebdeveloper@gmail.com
ADMIN_EMAIL_NAME='118 ADMIN'

MAILGUN_DOMAIN=sandbox58e35f13d3fb45d7a947ce4c26d240b3.mailgun.org
MAILGUN_SECRET=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

