/node_modules
/public/hot
public/storage
public/css/skeleton.css
public/css/normalize.css
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env~
storage/framework/cache/data/
.env.testing
.env.testing~
.env.dusk.local
.env.dusk.local~
.env.dusk.local.example~
